body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(34, 88, 108);
    color: #fff;
}

nav {
    background-color: rgb(61, 61, 104);
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    padding: 1rem 3rem;
    margin: 0;
    align-items: center;
}

nav a{
    color: #ecde66;
    font-weight: bold;
    background-color: rgba(250, 250, 250, 0.308);
    padding: 1rem 2rem;
    border-radius: 10px;
}

nav a:hover{
    transition: 1s;
    color: rgb(255, 255, 255);
}

.logo-nav {
    width: 4rem;
}

a {
    text-decoration: none;
    color: aquamarine;
}

.logo{
    width: 14rem;
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.name input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-bottom: 15px;
}

.email input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
}

.senha input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-top: 15px;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(134, 243, 134);
    color: #141414;
}

input::placeholder {
    color: #b6b6b6;
}

h1 {
    color: #FAFAFA;
}

form {
    margin-top: 65px;
}

form img {
    width: 115px;
}

input:focus {
    outline: none;
}